/*  ----------MOBILE FIRST APPROACH------- */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

/* // Cinzel & Fauna */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bright-color: #fff;
    --secondary-color: #927780;
    --dark-color: #000;
    --nav-color: #020202;
    --span-text-green: #07C14C;
    --span-text-red: #9b0404;
    --footer-color: #222330;
    --gray-a: #F2F2F2;
    --gray-b: #E0E0E0;
    --gray-c: #E9E9EB; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Cinzel' !important;
    font-size: 16px;
}

.shoppin-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 3em;
    /* border: solid 1px red; */
    margin: 1em 0;
}

.shoppin-cart {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

.shoppin-cart-item {
    display: flex;
    flex-direction: row;
    /* border-bottom: solid .3px var(--secondary-color); */
    /* border-top: solid .3px var(--secondary-color); */
    padding: 1em 1em;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.item-image {
    display: flex;
    justify-content: space-between;
    color: var(--nav-color);
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.shoppin-checkout {
    display: grid;
    grid-template-columns: 1fr, 1fr;

}

.checkout-btn {
    display: block;
    border: none;
    padding: 1em;
    width: 100%;
    background: var(--nav-color);
    color: var(--gray-b);
    cursor: pointer;
    outline: none;
}

.checkout-list {
    margin: 1em 0;
}

.checkout-list p{
    margin: .5em 0;
    font-size: .8em;
}

.qty-selection {
    text-align: start;
}

.cart-price {
    text-align: start;
    font-size: 12px;
}

/* -----PLACE ORDER */
section.place-order-section {
    padding: 2em 1em;
}

.ship-order h4 {
    font-size: 1em;

}
.ship-order p {
    font-size: .8em;
    margin: 1em 0;
}

.ship-order a {
    font-size: .8em;
    margin: 1em 0;
    color: var(--secondary-color); 
}

.ship-order a:hover {
    text-decoration: underline;
}

.ship-add {
    margin: 1em 0; 
}

.ship-add-link {
    margin: 1em 0; 
}

.ship-add a:hover {
    text-decoration: underline;
}

.order-th {
    font-size: .7em;
    margin: 1em .5em;
}

.order-td {
    font-size: .7em;
    margin: 1em .5em;
}
.order-td a {
    font-size: .7em;
    margin: 1em .5em;
    color: var(--secondary-color);
    text-decoration: underline;
}

.a-im {
    display: flex;
    text-align: center;
}

.create-act-btn {
    display: block;
    padding: 1em 2em;
    background: var(--nav-color);
    color: var(--gray-b);
    margin-bottom: .5em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.pay-met {
    margin: 1em 0; 
}

.order-his-section {
    padding: 2em 1em;
    min-height: 70vh;

}



@media only screen and (min-width: 768px) {
    .shoppin-container {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        /* border: solid 1px green; */
        margin: 1em 0;
    }

    section.place-order-section {
        padding: 3em 4em;
    }

    .ship-order {
        display: flex;
        justify-content: space-between;
    
    }

    .order-his-section {
        padding: 3em 3em;
        min-height: 70vh;
    }

    .order-th {
        font-size: .7em;
        margin: 1em .5em;
        padding: 1em;
    }
    
    .order-td {
        font-size: .7em;
        margin: 1em .5em;
        padding: 1em;
    }
    .order-td a {
        font-size: .9em;
        margin: 1em .5em;
        color: var(--secondary-color);
        text-decoration: underline;
    }
}

@media only screen and (min-width: 1024px) {
    .shoppin-container {
        
        /* border: solid 1px yellow; */
        margin: 1em 0;
    }

    section.place-order-section {
        padding: 5em 4em;
    }

    .ship-order {
        display: flex;
        justify-content: space-between;
    
    }

    .ship-pick {
        width: 70%;
    }
    .ship-sum {
        width: 30%;
    }

    .order-his-section {
        padding: 5em 4em;
        min-height: 70vh;
    }
    .order-th {
        font-size: .9em;
        margin: 1em .5em;
        padding: 1em;
    }
    
    .order-td {
        font-size: .9em;
        margin: 1em .5em;
        padding: 1em;
    }
    .order-td a {
        font-size: .9em;
        margin: 1em .5em;
        color: var(--secondary-color);
        text-decoration: underline;
    }
}