@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --bright-color: #fff;
  --secondary-color: #927780;
  --dark-color: #000;
  --nav-color: #020202;
  --span-text-green: #07C14C;
  --span-text-red: #9b0404;
  --footer-color: #222330;
  --gray-a: #F2F2F2;
  --gray-b: #E0E0E0;
  --gray-c: #E9E9EB;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
  font-size: 16px;
}

.navbar {
  padding: 0 2em;
  background: var(--nav-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 1.5em 0;
}

.navbar nav {
  display: block;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--gray-a);
  font-size: 1.2em;
}

a {
  color: var(--gray-a);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  z-index: 999;
  width: 60%;
  left: 0;
  top: 73px;
  background: var(--nav-color);
  height: 100vh;
  padding: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul.primary-nav {
  margin-top: 2em;
}

nav li {
  color: var(--gray-b);
}

nav li a {
  color: var(--gray-b);
  text-decoration: none;
  display: block;
  padding: .9em;
  text-align: start;
}

nav li a:hover {
  font-weight: bold;
  color: var(--secondary-color);
}

nav li .fa-cart-plus {
  color: var(--secondary-color);
  font-size: 1.5em;
}

nav .current a {
  font-weight: bold;
  color: var(--secondary-color);
}

nav .search-nav {
  display: none;
}

.cart-span-add {
  background: var(--secondary-color);
  color: var(--gray-b);
  border-radius: 100%;
  width: 40px;
  height: 30px;
  padding: 5px;
}

.nav-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  top: 80px;
  left: -110%;
  width: 90%;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-110%, 60%);
          transform: translate(-110%, 60%);
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-icon .fa-times {
  color: var(--gray-b);
}

.menu-icon .fa-bars {
  color: var(--gray-b);
}

.fa-user {
  color: var(--secondary-color);
  padding: 0 .5em;
  font-size: 1.5em;
}

.fa-cart-shopping {
  color: var(--secondary-color);
}

.fa-magnifying-glass {
  color: var(--secondary-color);
}

.fa-cart-shopping-fast {
  color: var(--secondary-color);
}

.fa-bag-shopping {
  color: var(--secondary-color);
}

.fa-arrow-left {
  color: var(--secondary-color);
}

.fa-cart-plus {
  color: var(--secondary-color);
  font-size: 1em;
  padding: 0 .5em;
}

.cart-nobrainer {
  margin: 2em 0;
  text-align: center;
  display: block;
}

.cart-nobrainer img {
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.cart-link {
  color: var(--nav-color);
}

.prod-link {
  padding: 2em 0;
  font-size: .7em;
  margin-bottom: 2em;
}

.prod-link a {
  color: var(--secondary-color);
}

.stock-in {
  background: var(--secondary-color);
  padding: .5em;
  border-radius: 100px;
  margin-bottom: 1em;
  color: var(--gray-b);
}

.stock-out {
  background: var(--nav-color);
  padding: .5em;
  border-radius: 100px;
  margin-bottom: 1em;
  color: var(--span-text-red);
}

.payment-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  padding: 2em 1em;
}

.prod-banner {
  background: var(--span-text-orange);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 50vh;
  border-radius: 4px;
  overflow: hidden;
  background-image: url(/images/ali.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.prod-banner::after {
  position: absolute;
  content: '';
  background: var(--gray-c);
  opacity: .4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-card-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2em;
  margin: 2em 0;
}

.product-card {
  display: block;
}

.product-card .img-component {
  height: 35vh;
}

.product-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card .text-content {
  padding: .5em;
}

.product-card .text-content .title {
  color: var(--nav-color);
  font-weight: bold;
}

.product-card .text-content .title a {
  color: var(--nav-color);
  font-size: 12px;
  padding: .5em 0;
}

.product-card .text-content .title a:hover {
  color: #9b0404;
  text-decoration: underline;
}

.product-card .text-content .price {
  font-size: 13px;
  padding: .2em 0;
}

.product-card .text-content .rating {
  font-size: 11px;
  padding: .2em 0;
  color: var(--nav-color);
}

.product-card .text-content button {
  padding: .5em 2em;
  width: 100%;
  font-size: 12px;
  background: var(--nav-color);
  border-radius: 5px;
  color: var(--gray-b);
  border: none;
  margin-top: 1em;
  cursor: pointer;
}

.product-card .text-content button:hover {
  color: var(--nav-color);
  background: var(--gray-b);
  cursor: pointer;
}

.login-form-container {
  margin: 5em 4em;
  padding: 1em;
  border: solid 1px var(--secondary-color);
}

.login-form-container h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

.login-form-container div {
  margin-bottom: 1em;
  width: 95%;
}

.login-form-container div .form-label {
  display: block;
  font-size: .8em;
}

.login-form-container div .form-input {
  display: block;
  width: 100%;
  padding: .6em .5em;
}

.login-form-container div a {
  color: var(--secondary-color);
}

.login-form-container div .create-act-btn {
  display: block;
  padding: 1em;
  background: var(--nav-color);
  color: var(--gray-b);
  margin-bottom: .5em;
  border-radius: 4px;
}

.login-form-container div .link-acc {
  font-size: .8em;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .navbar {
    padding: 0 1em;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px auto;
        grid-template-columns: 140px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin: 0 auto;
    padding: 1.5em 0;
  }
  .navbar .container .logo {
    font-size: .7em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    font-size: .7em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav .search-nav {
    display: block;
    margin: 0 1em;
  }
  .navbar nav li.current a {
    font-weight: bold;
    color: var(--secondary-color);
  }
}

.product-card-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
  margin: 2em 0;
}

.product-card-display .product-card {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
  .navbar {
    padding: 0 1.5em;
    margin: 0;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    max-width: 960px;
    margin: 0  auto;
  }
  .container {
    width: 960px;
    margin: 0 auto;
  }
  section {
    padding: 3em 2em;
  }
  .product-card-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2em;
    margin: 2em 0;
  }
  .product-card-display .product-card {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */