@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");
:root, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bright-color: #ffffff;
  --secondary-color: #927780;
  --secondary2-color: #e7dee1;
  --dark-color: #000000;
  --nav-color: #020202;
  --span-text-green: #07C14C;
  --span-text-red: #9b0404;
  --footer-color: #222330;
  --gray-a: #F2F2F2;
  --gray-b: #E0E0E0;
  --gray-c: #E9E9EB;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel" !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: normal;
  letter-spacing: 0.85px;
}

p, a, li, button, ul {
  font-family: "Fauna One" !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  list-style: none !important;
  letter-spacing: 0.85px;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #f2f2f2;
  margin: 0;
  font-family: "Cinzel", "Fauna One" !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.scrolled {
  background: #f2f2f2;
  background-color: none !important;
  height: 74px !important;
  box-shadow: 0 !important;
}

.not-scrolled {
  background: #f2f2f2;
  background-color: none !important;
  height: 74px !important;
  box-shadow: 0 !important;
}

.navbar-link {
  font-family: "Fauna One" !important;
  color: #000 !important;
  text-decoration: none;
  letter-spacing: 0.85px !important;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700 !important;
  list-style-type: none;
}

.activeLink {
  font-family: "Fauna One";
  color: #927780 !important;
  text-decoration: none;
  font-weight: 700 !important;
}

.fa-user {
  color: var(--secondary-color);
  padding: 0 0.5em;
  font-size: 1.5em;
}

.fa-cart-shopping {
  color: var(--secondary-color);
}

.fa-magnifying-glass {
  color: var(--secondary-color);
}

.fa-cart-shopping-fast {
  color: var(--secondary-color);
}

.fa-bag-shopping {
  color: var(--secondary-color);
}

.fa-arrow-left {
  color: var(--secondary-color);
}

.fa-cart-plus {
  color: var(--secondary-color);
  font-size: 1em;
  padding: 0 0.5em;
}

.cart-nobrainer {
  margin: 2em 0;
  text-align: center;
  display: block;
}

.cart-nobrainer img {
  width: 70%;
  align-items: center;
  margin: 2em 0;
}

.cart-link {
  color: var(--nav-color);
}

.text-red {
  color: #9b0404;
  font-size: 0.7em;
}

.text-blue {
  color: var(--gray-b-color);
  font-size: 0.7em;
  background: none;
  border: none;
}

.fa-caret-down {
  color: var(--gray-b);
}

.dropdown-link {
  display: flex;
  padding: 1em;
}

.prod-link {
  padding: 2em 0;
  font-size: 0.7em;
  margin-bottom: 2em;
}
.prod-link a {
  color: var(--secondary-color);
}

.stock-in {
  padding: 0.2em 1em;
  border-radius: 50px;
  color: var(--dark-color);
}

.stock-out {
  padding: 0.2em 1em;
  border-radius: 50px;
  color: var(--span-text-red);
}

.payment-btn-div {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 2em 1em;
}

.prod-banner {
  background: var(--span-text-orange);
  transition: all 0.3s ease-in;
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.prod-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prod-banner::after {
  position: absolute;
  content: "";
  background: var(--gray-c);
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-card-display {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2em;
  margin: 2em 0;
}

.product-card {
  display: block;
}
.product-card .img-component {
  height: auto;
  cursor: pointer;
}
.product-card img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .text-content {
  padding: 20px 0px;
}
.product-card .text-content .title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px !important;
  letter-spacing: 0.85px;
  line-height: 20px;
  color: var(--dark-color);
  padding: 0.5em 0;
  cursor: pointer;
  text-transform: capitalize;
}
.product-card .text-content .title a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px !important;
  letter-spacing: 0.85px;
  line-height: 20px;
  color: var(--dark-color);
  padding: 0.5em 0;
  cursor: pointer;
  text-transform: capitalize;
}
.product-card .text-content .title a:hover {
  color: #927780;
  text-decoration: underline;
  text-transform: capitalize;
}
.product-card .text-content .price {
  letter-spacing: 0.85px;
  font-weight: 500;
  font-size: 18px;
  margin: 1em 0;
}
.product-card .text-content .rating {
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
  letter-spacing: 0.85px;
  margin: 0.6em 0;
  color: var(--dark-color);
}
.product-card .text-content button {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.85px;
  font-family: "Poppins";
  background: var(--secondary-color);
  border-radius: 2px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.product-card .text-content button .fa-cart-plus {
  color: #ffffff;
}
.product-card .text-content button:hover {
  color: var(--nav-color);
  background: var(--gray-b);
  cursor: pointer;
}
.product-card .text-content button:hover .fa-cart-plus {
  color: #000000;
}

.login-form-container {
  margin: 5em 1em;
  padding: 1em;
  border: solid 1px var(--secondary-color);
}
.login-form-container h3 {
  font-size: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}
.login-form-container div .form-label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}
.login-form-container div .form-input {
  display: block;
  width: 100%;
  padding: 0.6em 0.5em;
}
.login-form-container div a {
  color: var(--secondary-color);
}
.login-form-container div .create-act-btn {
  display: block;
  padding: 1em 2em;
  background: var(--nav-color);
  color: var(--gray-b);
  margin-bottom: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.login-form-container div .link-acc {
  font-size: 0.8em;
}
.login-form-container .pay-marg {
  margin: 2em 0;
  display: flex;
  justify-content: star;
}
.login-form-container .pay-marg .form-input-radio {
  padding: 0 2em;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .navbar {
    padding: 0 1em;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 140px auto;
    justify-content: unset;
    margin: 0 auto;
    padding: 1.5em 0;
  }
  .navbar .container .logo {
    font-size: 0.7em;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    font-size: 0.7em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav .search-nav {
    display: block;
    margin: 0 1em;
  }
  .navbar nav li.current a {
    font-weight: bold;
    color: var(--secondary-color);
  }
  .product-card-display {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
    margin: 2em 0;
  }
  .product-card-display .product-card {
    display: block;
  }
  .login-form-container {
    margin: 5em 6em;
    padding: 1em;
    border: solid 1px var(--secondary-color);
  }
  .login-form-container h3 {
    font-size: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .login-form-container div {
    margin-bottom: 1em;
    width: 95%;
  }
  .login-form-container div .form-label {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
  }
  .login-form-container div .form-input {
    display: block;
    width: 100%;
    padding: 0.6em 0.5em;
  }
  .login-form-container div a {
    color: var(--secondary-color);
  }
  .login-form-container div .create-act-btn {
    display: block;
    padding: 1em 2em;
    background: var(--nav-color);
    color: var(--gray-b);
    margin-bottom: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .login-form-container div .link-acc {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
  .navbar {
    padding: 0 1.5em;
    margin: 0;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    max-width: 960px;
    margin: 0 auto;
  }
  .container {
    width: 960px;
    margin: 0 auto;
  }
  section {
    padding: 3em 2em;
  }
  .product-card-display {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2em;
    margin: 2em 0;
  }
  .product-card-display .product-card {
    display: block;
  }
  .login-form-container {
    margin: 5em 10em;
    padding: 2em;
    border: solid 1px var(--secondary-color);
  }
  .login-form-container h3 {
    font-size: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .login-form-container div {
    margin-bottom: 1em;
    width: 95%;
  }
  .login-form-container div .form-label {
    display: block;
    font-size: 1em;
    font-weight: bold;
  }
  .login-form-container div .form-input {
    display: block;
    width: 100%;
    padding: 0.8em 0.7em;
  }
  .login-form-container div a {
    color: var(--secondary-color);
  }
  .login-form-container div .create-act-btn {
    display: block;
    padding: 1.5em 3.5em;
    background: var(--nav-color);
    color: var(--gray-b);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .login-form-container div .link-acc {
    font-size: 1em;
  }
}/*# sourceMappingURL=styles.css.map */