// ----------MOBILE FIRST APPROACH-------

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

// Cinzel & Fauna
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Fauna+One&display=swap');

// MANROPE
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap');

:root, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bright-color: #ffffff;
    --secondary-color: #927780;
    --secondary2-color: #e7dee1;
    --dark-color: #000000;
    --nav-color: #020202;
    --span-text-green: #07C14C;
    --span-text-red: #9b0404;
    --footer-color: #222330;
    --gray-a: #F2F2F2;
    --gray-b: #E0E0E0;
    
    --gray-c: #E9E9EB; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel' !important;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: normal;
    letter-spacing: 0.85px;
}

p, a, li, button, ul {
    font-family: 'Fauna One' !important;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
    list-style: none !important;
    letter-spacing: 0.85px;
}

a:hover {
    text-decoration: none;
}



img {
    width: 100%;
    height: auto;
}

body {
    position: relative;
    overflow-x: hidden;
    background: #f2f2f2;
    margin: 0;
    font-family: 'Cinzel', 'Fauna One' !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

// --------NAVIGATION MENU --------------

.scrolled {
    // padding: .4em 0;
    background: #f2f2f2;
    background-color: none !important;
    height: 74px !important;
    box-shadow: 0 !important;
}

.not-scrolled {
    // padding: .5em 0;
    background: #f2f2f2;
    background-color: none !important;
    height: 74px !important;
    box-shadow: 0 !important;
}

.navbar-link {
    font-family: 'Fauna One' !important;
    color: #000 !important;
    text-decoration: none;
    letter-spacing: 0.85px !important;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700 !important;
    list-style-type: none;
}

.activeLink {
    // opacity: 1;
    font-family: 'Fauna One';
    color: #927780 !important;
    text-decoration: none;
    font-weight: 700 !important;
}

// .navbar {
//     padding: 0 2em;
//     background: var(--nav-color);

//     .container {
//         display: flex;
//         place-content: space-between;
//         padding: 1.5em 0;
//     }

//     nav {
//         display: block;
//     }

//     .logo {
//         text-decoration: none;
//         font-weight: bold;
//         color: var(--gray-a);
//         font-size: 1.2em;
//     }
// }

// a {
//     color: var(--gray-a);
//     text-decoration: none;
// }

// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

// nav {
//     position: absolute;
//     z-index: 999;
//     width: 60%;
//     left: 0;
//     top: 70px;
//     background: var(--nav-color);
//     height: 100vh;
//     padding: 1em;
//     transition: all 0.5s ease;

//     ul.primary-nav {
//         margin-top: 2em;
//     }

//     li {
//         //delete this when link is sorted
//         color: var(--gray-b);

//         a {
//             color: var(--gray-b);
//             text-decoration: none;
//             display: block;
//             padding: .9em;
//             text-align: start;

//             &:hover {
//                 font-weight: bold;
//                 color: var(--secondary-color);
//             }
//         }  

//         .fa-cart-plus {
//             color: var(--secondary-color);
//             font-size: 1.5em;
//             // padding: 0 .5em;
//         }
//     }

//     .current a {
//         font-weight: bold;
//         color: var(--secondary-color);
//     }

//     .search-nav {
//         display: none;
//     } 
// }

// .cart-span-add {
//     background: var(--secondary-color);
//     color: var(--gray-b);
//     border-radius: 100%;
//     width: 40px;
//     height: 30px;
//     padding: 5px;
    
// }

// .nav-menu {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     height: 50vh;
//     top: 80px;
//     left: -110%;
//     width: 90%;
//     opacity: 1;
//     transition: all 0.5s ease;
// }

// .menu-icon {
//     display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     transform: translate(-110%, 60%);
//     font-size: 1.5rem;
//     cursor: pointer;

//     .fa-times {
//         color: var(--gray-b); 
//     }

//     .fa-bars {
//         color: var(--gray-b); 
//     }
// }

.fa-user {
    color: var(--secondary-color);
    padding: 0 .5em;
    font-size: 1.5em;
}

.fa-cart-shopping {
    color: var(--secondary-color);
}

.fa-magnifying-glass {
    color: var(--secondary-color);
}

.fa-cart-shopping-fast {
    color: var(--secondary-color);
}

.fa-bag-shopping {
    color: var(--secondary-color);
}

.fa-arrow-left {
    color: var(--secondary-color);
}

.fa-cart-plus {
    color: var(--secondary-color);
    font-size: 1em;
    padding: 0 .5em;
}

.cart-nobrainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    img {
        width: 50%;
        height: 50%;
        margin-top: 50px;
    }
}

.cart-link {
    color: var(--nav-color);
}

.text-red {
    color: #9b0404;
    font-size: .7em;
}

.text-blue {
    color: var(--gray-b-color);
    font-size: .7em;
    background: none;
    border: none;

}

.fa-caret-down {
    color: var(--gray-b);
}

.dropdown-link {
    display: flex; 
    padding: 1em; 

}

.prod-link {
    padding: 2em 0;
    font-size: .7em;
    margin-bottom: 2em;

    a {
        color: var(--secondary-color);
        // text-decoration: underline;
    }
}

.stock-in {
    // background: var(--dark-color);
    padding: .2em 1em;

    border-radius: 50px;
    // margin-bottom: 1em;
    color: var(--dark-color);
}

.stock-out {
    // background: var(--nav-color);
    padding: .2em 1em ;
    border-radius: 50px;
    // margin-bottom: 1em;
    color: var(--span-text-red);
}

.payment-btn-div {
    display: flex;
    justify-content: space-between;
}

// ----------------HOME --------------

section {
    padding: 2em 1em;
}

.prod-banner {
    background: var(--span-text-orange);
    transition: all 0.3s ease-in;
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;

    // background-image: url(/images/alirac.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        position: absolute;
        content: '';
        background: var(--gray-c);
        opacity: .4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.product-card-display {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2em;
    margin: 2em 0;
}

.product-card {
    display: block;
    // width: 80%;
    // margin: 1.5em 0;
    // height: 60vh;
    // border: solid red 1px;
    // overflow: hidden;

    .img-component {
        height: auto;
        // width: 100%;
        // border: solid 2px;
        cursor: pointer;
    }
    
    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .text-content {
        padding: 20px 0px;
        // height: auto;
        // width: auto;
        // border: solid 1px;

        .title {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px !important;
            letter-spacing: 0.85px;
            line-height: 20px;
            color: var(--dark-color);
            padding: .5em 0;
            cursor: pointer;
            text-transform: capitalize;
            
            a {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 16px !important;
                letter-spacing: 0.85px;
                line-height: 20px;
                color: var(--dark-color);
                padding: .5em 0;
                cursor: pointer;
                text-transform: capitalize;

                &:hover {
                    color: #927780;
                    text-decoration: underline;
                    text-transform: capitalize;
                }
            }
        }

        .price {
            letter-spacing: 0.85px;
            font-weight: 500;
            font-size: 18px;
            margin: 1em 0;

        }

        .rating {
            font-weight: 400;
            font-size: 14px;
            font-family: 'Poppins';
            letter-spacing: 0.85px;
            margin: .6em 0;
            color: var(--dark-color);
        }

        button {
            // padding: 1em 2em;
            text-align: center;
            width: 100%;
            height: 50px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.85px;
            font-family: "Poppins";
            background: var(--secondary-color);
            border-radius: 2px;
            color: #ffffff;
            border: none;
            // margin-top: 1em;
            cursor: pointer;
            text-transform: uppercase;

            .fa-cart-plus {
                color: #ffffff;
            }

            &:hover {
                .fa-cart-plus {
                    color: #000000;
                }
                color: var(--nav-color);
                background: var(--gray-b);
                cursor: pointer;
            }
        }
    }
}

.login-form-container {
    margin: 5em 1em;
    padding: 1em;
    border: solid 1px var(--secondary-color);

    h3 {
        font-size: 1em;
        margin-bottom: 1em;
        font-weight: bold;
    }

    div {
        // margin-bottom: 1em;
        // width: 95%;

        .form-label {
            display: block;
            font-size: .8em;
            font-weight: bold;
        }

        .form-input {
            display: block;
            width: 100%;
            padding: .6em .5em;
        }

        a {
            color: var(--secondary-color);
        }

        .create-act-btn {
            display: block;
            // width: 100%;
            padding: 1em 2em;
            background: var(--nav-color);
            color: var(--gray-b);
            margin-bottom: .5em;
            border-radius: 4px;
            cursor: pointer;
            border: none;
            outline: none;
        }

        .link-acc {
            font-size: .8em;
        }
    }

    .pay-marg {
        margin: 2em 0;
        display: flex;
        justify-content: star;

        .form-input-radio {
            padding: 0 2em;
            outline: none;
            
        }
    }
}
//-------MEDIA QUERYS ---------

@media only screen and (min-width: 768px) {

    // ---------NAVIVAGATION MENU--------
    .menu-icon {
        display: none;
    }

    .cart-nobrainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    
        img {
            width: 30%;
            height: 30%;
            margin-top: 50px;
        }
    }

    .navbar {
        padding: 0 1em;

        .container {
            display: grid;
            grid-template-columns: 140px auto;
            justify-content: unset;
            // max-width: 720px;
            margin: 0 auto;
            padding: 1.5em 0;

            .logo {
                font-size: .7em;
            }
        }
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        
        ul {
            display: flex;
        }
        
        a {
            font-size: .7em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        .search-nav {
            display: block;
            margin: 0 1em;
        }

        li.current a {
            font-weight: bold;
            color: var(--secondary-color)
        }
    }

    // -------HOME--------

    .product-card-display {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2em;
        margin: 2em 0;

        .product-card {
            display: block;
        }
    }

    .login-form-container {
        margin: 5em 6em;
        padding: 1em;
        border: solid 1px var(--secondary-color);
    
        h3 {
            font-size: 1em;
            margin-bottom: 1em;
            font-weight: bold;
        }
    
        div {
            margin-bottom: 1em;
            width: 95%;
    
            .form-label {
                display: block;
                font-size: .8em;
                font-weight: bold;
            }
    
            .form-input {
                display: block;
                width: 100%;
                padding: .6em .5em;
            }
    
            a {
                color: var(--secondary-color);
            }
    
            .create-act-btn {
                display: block;
                // width: 100%;
                padding: 1em 2em;
                background: var(--nav-color);
                color: var(--gray-b);
                margin-bottom: .5em;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                outline: none;
            }
    
            .link-acc {
                font-size: .8em;
            }
        }
    }
}





@media only screen and (min-width: 1024px) { 
    // ---------NAVIVAGATION MENU--------

    .menu-icon {
        display: none;
    }

    .navbar {
        padding: 0 1.5em;
        margin: 0;

        .container {
            display: grid;
            grid-template-columns: 180px auto;
            max-width: 960px;
            margin: 0  auto;
        }
    }

    // --------Body-------
    
    .container {
        width: 960px;
        margin: 0 auto;
    }

    section {
        padding: 3em 2em;
    }

    .product-card-display {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2em;
        margin: 2em 0;
    
        .product-card {
            display: block;
        }
    }

    .login-form-container {
        margin: 5em 10em;
        padding: 2em;
        border: solid 1px var(--secondary-color);
    
        h3 {
            font-size: 1em;
            margin-bottom: 1em;
            font-weight: bold;
        }
    
        div {
            margin-bottom: 1em;
            width: 95%;
    
            .form-label {
                display: block;
                font-size: 1em;
                font-weight: bold;
            }
    
            .form-input {
                display: block;
                width: 100%;
                padding: .8em .7em;
            }
    
            a {
                color: var(--secondary-color);
            }
    
            .create-act-btn {
                display: block;
                // width: 100%;
                padding: 1.5em 3.5em;
                background: var(--nav-color);
                color: var(--gray-b);
                margin-bottom: .5em;
                margin-top: .5em;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                outline: none;
            }
    
            .link-acc {
                font-size: 1em;
            }
        }
    }

    .cart-nobrainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    
        img {
            width: 30%;
            height: 30%;
            margin-top: 50px;
        }
    }
}